/* Desktop Bootstrap md -based classes */
/* Tablet Bootstrap sm -based classes */
/* Mobile Bootstrap xs -based classes */ 

*, *::before, *::after{
    box-sizing:border-box;
}


/** Header **/
#food_llc_header{
    background-color: gray;
    border-radius: 0;
    border: 0;
}

#main_text{
    background-color: gray;
    height:1000px;
}


#text_heading{
    padding: 5px;
    margin: auto;
    font-size: 1.5em;
    font-weight: 500;
}
section{
    margin: 30px;
}

header{
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
}

.navbar-brand {
    padding-top: auto;
}

a.navbar-brand{
    color:white;
}

button.navbar-toggler{
    border-color: black;
    float: right;
}

row {
    width:100%;
}

.dropdown-item{
    text-align: center;
}